<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de agendamento">
    <meta name="author" content="Newton Araujo">
    <link rel="stylesheet" href="../CSS/procedimento.css">
    <link rel="stylesheet" href="../CSS/reset.css">
    <script src="https://kit.fontawesome.com/1a95f88ba3.js" crossorigin="anonymous"></script>
    <title>Laura Cocarelli Beauty</title>
</head>
<body>

    <a href="https://wa.me/5511949790154?text=Olá,%20agende%20de%20agendar%20um%20horário!">
        <div class="whatsapp-icon">

        </div>
    </a>    

    <header>
        <h1 class="title">Laura Cocarelli Beauty</h1>

        <nav class="nav-bar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/procedimentos.html">Procedimento</a></li>
                <li><a href="../templates/volumes.html">Volumes</a></li>
                <li><a href="">Resultados</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </nav>
    </header>

    
    <main class="main">
        <div class="title">
            <h2>Procedimento</h2>
            <p>Você já imaginou acordar todos os dias com cílios perfeitos, sem a necessidade de rímel? Essa é a mágica que nossa lash designer pode oferecer! Aqui, cada detalhe do procedimento é pensado para realçar sua beleza natural e garantir uma experiência única e personalizada.</p>
        </div>
    </main>

    <section class="container_c">

        <div class="cardOne card">
            <img src="../img/proc3.png" alt="contonetes pretos molhados" srcset="">
            <div>
                <h3>Como é o processo?</h3>

                <ul>
                    <li>Consulta Personalizada:
                        <p>Primeiro, conversamos com você para entender suas preferências. Quer algo mais natural ou um efeito mais volumoso? Este é o momento de alinhar suas expectativas!</p>
                    </li>

                    <li>Preparação Cuidadosa:
                        <p>Após higienizar a área dos olhos, protegemos a região com adesivos delicados para garantir total conforto e segurança.</p>
                    </li>
                    <li>
                        Aplicação Precisa e Minuciosa:
                        <p>
                            Fio por fio, nossas extensões de alta qualidade são aplicadas com adesivo especial, garantindo fixação segura e um acabamento perfeito. Esse é o segredo para um visual impecável e duradouro.
                        </p>
                    </li>
                    <li>
                        Toque Final:
                        <p>Após o término da aplicação, verificamos cada detalhe para garantir que o resultado esteja harmonioso e do jeitinho que você sonhou. E claro, você receberá orientações sobre como cuidar dos seus cílios para mantê-los lindos por mais tempo.</p>
                    </li>
                </ul>

            </div>

        </div>

        <div class="description">
            <div class="text">
                <h3>Por que confiar em nós?</h3>
                    <ul>
                        <li>Higiene e Segurança:
                            <p>Utilizamos materiais esterilizados e seguimos rigorosamente todas as normas de biossegurança.</p>
                        </li>
        
                        <li>
                            Técnica Profissional:
                            <p>
                                Nossa lash designer é experiente e está sempre atualizada com as tendências e melhores práticas do mercado.
                            </p>
                        </li>
        
                        <li>
                            Resultados Naturais e Elegantes:
                            <p>Nosso objetivo é realçar a sua beleza única, garantindo um olhar encantador sem exageros.
                            </p>
                        </li>
                    
                    </ul>
            </div>
            <img src="../img/perfil2.png" alt="" srcset="">
        </div>

    </section>



    <footer>

        <div class="icons">
            <a href="https://www.instagram.com/lauracocarellibeauty/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://wa.me/5511949790154?text=Olá,%20gostaria%20de%20agendar%20um%20horário!"><i class="fa-brands fa-whatsapp"></i></a>

            <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Rua Canto Do Rio Verde 11B - Parque Rebouças - cep: 05734-010</p>
            </div>
        </div>

        <p>&copy; 2025 por LauraCocarelliBeauty. Criado pela DevLevelUp.</p>

    </footer>
</body>
</html>