<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de agendamento">
    <meta name="author" content="Newton Araujo">
    <link rel="stylesheet" href="../CSS/volume.css">
    <link rel="stylesheet" href="../CSS/reset.css">
    <script src="https://kit.fontawesome.com/1a95f88ba3.js" crossorigin="anonymous"></script>
    <title>Laura Cocarelli Beauty</title>
</head>
<body>
    <a href="https://wa.me/5511949790154?text=Olá,%20agende%20de%20agendar%20um%20horário!">
        <div class="whatsapp-icon">

        </div>
    </a>

    
    
    <header>
        <h1 class="title">Laura Cocarelli Beauty</h1>

        <nav class="nav-bar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/procedimentos.html">Procedimento</a></li>
                <li><a href="../templates/volumes.html">Volumes</a></li>
                <li><a href="">Resultados</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <section class="container_title">
            
        <div class="title">
            <h1>Descubra o Poder dos Volumes e Transforme Seu Olhar!</h1>
        </div>
        
        <div class="description">
            <p>Você sabia que seus cílios podem dizer muito sobre sua personalidade? Com a técnica ideal, criamos um olhar expressivo, marcante e totalmente personalizado para você! Mas o que é isso, exatamente? Vamos te contar tudo de forma leve e interativa, porque aqui, seu olhar é o protagonista! </p>
        </div>

    </section>

    <main>

        <div class="containerMain">
            
            <div class="cardOne card">

                <div class="imgCard">
                    <img src="../img/cardOne.png" alt="" srcset="">
                </div>
    
                <div class="textDesc">
                    <h2>O que é a técnica de volume?</h2>
                    <p>É como dar um "upgrade" no olhar! Em vez de aplicar apenas um fio por cílio natural (como na técnica clássica), no volume utilizamos leques delicados de 2 a 6 fios ultrafinos em cada cílio natural. Esses leques são feitos à mão na hora, garantindo leveza, durabilidade e um efeito visual de cair o queixo! </p>
                </div>
    
            </div>
    
            <div class="cardTwo card">
    
                <div class="imgCard">
                    <img src="../img/cardTwo.png" alt="" srcset="">
                </div>
    
                <div class="textDescTwo">
                    <h2>Por que escolher?</h2>
                    <ul>
                        <li>Visual Personalizado <p>Cada leque é feito sob medida para combinar com o formato dos seus olhos e realçar sua beleza única.</p></li>
                        <li>Conforto e Leveza <p>Apesar de parecer grandioso, os fios são ultrafinos, então o resultado é super leve!</p></li>
                        <li>Adeus à Máscara de Cílios <p>Seu olhar estará sempre pronto, do café da manhã ao evento mais elegante.</p></li>
                    </ul>
                </div>
            </div>


        </div>
        
    </main>




    <footer>

        <div class="icons">
            <a href="https://www.instagram.com/lauracocarellibeauty/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://wa.me/5511949790154?text=Olá,%20gostaria%20de%20agendar%20um%20horário!"><i class="fa-brands fa-whatsapp"></i></a>

            <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Rua Canto Do Rio Verde 11B - Parque Rebouças - cep: 05734-010</p>
            </div>
        </div>

    

        <p>&copy; 2025 por LauraCocarelliBeauty. Criado pela DevLevelUp.</p>

    </footer>
</body>
</html>